# Dependencies
node_modules/
vendor/

# Build output
/public/css/
/public/js/
/public/manifest.json

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 